<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Saída</title>
</head>

<body>
    <div class="container">
        <p>
        <h3>Nova saída registrada no sistema!</h3>
        </p><br>
        <p>Produto: <b>{{ product }}</b></p>
        <p>Quantidade: <b>{{ quantity }}</b></p>
        <p>Valor da Venda: <b>R$ {{ total_value }}</b></p>
        <p>Lucro com a venda <b>R$ {{ profit_value }}</b></p>
        <br><br>
        <p>
            Atenciosamente, <br>
            Stock Simplify :)
        </p>
    </div>
</body>

</html>